@charset "UTF-8";
body{
    background-color: rgb(205, 255, 174);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
    font-size: 2em;
    text-align: center;
}
#titulo{
    text-align: center;
    background-color: rgb(4, 109, 0) ;
    font-size: 3em;
    color: white;
}
h2{
    color: rgb(73, 100, 71);
    text-align: justify;
}
p{
    text-align: justify;
}
.basico{
    color: rgb(26, 248, 6);
}
.intermediario{
    color: rgb(248, 244, 6);
}
.avançado{
    color: rgb(248, 6, 6);
}
.destaque{
    color: red;
}